html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--slate);
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: var(--white);
}
body.lock {
  overflow: hidden;
}
.title-1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: center;
}
.title-2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 111%;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.title-3-mobile {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 111%;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

.title-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: var(--navy-blue);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.button-text {
  display: block;
  border: none;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:hover,
.button-text:focus {
  background-color: var(--ocean);
}

.logo-text {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 117%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--iris);
  display: block;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex-grow: 1;
  }
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .title-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
  }
}
@media screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-3-mobile {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
}
