.hero {
  max-width: 320px;
  background-color: var(--navy-blue);
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    image-set(
      '../images/hero-people-office-320.webp' type('image/webp') 1x,
      '../images/hero-people-office-320-2x.webp' type('image/webp') 2x,
      '../images/hero-people-office-320.jpg' type('image/jpg') 1x,
      '../images/hero-people-office-320-2x.jpg' type('image/jpg') 2x
    );

  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      image-set(
        '../images/hero-people-office.webp' type('image/webp') 1x,
        '../images/hero-people-office-2x.webp' type('image/webp') 2x,
        '../images/hero-people-office.jpg' type('image/jpg') 1x,
        '../images/hero-people-office-2x.jpg' type('image/jpg') 2x
      );

    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
