@import '../scss/null';
@import '../scss/collor';
@import '../scss/base';
@import '../scss/header';
@import '../scss/hero';

/* СЕКЦІЯ ПЕРЕВАГИ */

.advantages-cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-cards-item {
  display: block;
}
.advantages-card-icon {
  display: none;
}

.advantages-card-title {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .advantages-cards-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .advantages-cards-item {
    display: block;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advantages-cards-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .advantages-card-icon {
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    background-color: var(--cloud);
    margin-bottom: 8px;
  }
  .card-icon {
    height: 64px;
    width: 64px;
  }
}

/* СЕКЦІЯ КОМАНДА */

.team {
  background-color: var(--cloud);
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
.team-card {
  max-width: 264px;
  background-color: var(--white);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-card-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-card-job {
  text-align: center;
  margin-bottom: 8px;
}
.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-card {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* СЕКЦІЯ ПОРТФОЛІО */

.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
}
.porfolio-card {
  width: 288px;
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-cards-text {
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
}

.portfolio-card-title {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-cards-list {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
  .porfolio-card {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-cards-list {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 48px;
  }
  .porfolio-card {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* ПІДВАЛ */

.footer {
  background-color: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
  color: var(--white);
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.footer-text-logo {
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--cloud);
}
.footer-text {
  max-width: 288px;
  color: var(--cloud);
}

.footer-social-media {
  margin-bottom: 72px;
}
.footer-social-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-subscribe-text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.footer-subscribe-input {
  color: var(--white);
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}
.footer-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;
}
.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.footer-subscribe-icon {
  fill: var(--white);
  height: 24px;
  width: 24px;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wraper {
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hiden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  max-width: 408px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  cursor: pointer;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: var(--navy-blue);
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-modal:hover,
.button-close-modal:focus {
  background-color: var(--ocean);
  border: none;
  border-color: var(--ocean);
}
.button-close-modal:hover .close-icon {
  fill: #ffffff;
}
.button-close-modal:focus .close-icon {
  fill: #ffffff;
}

.form-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 150%;
}
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container {
  margin-bottom: 8px;
}
.form-text-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}
.form-input-container {
  position: relative;
}
.form-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  padding: 11px 10px 11px 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--iris);
}
.form-input:focus + .form-icon {
  fill: var(--iris);
}
.textarea-container {
  margin-bottom: 16px;
}
.form-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: var(--iris);
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.form-checkbox-label {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-checkbox {
  height: 16px;
  width: 16px;
}

.form-text-link {
  color: var(--iris);
  text-transform: capitalize;
  text-decoration: underline;
}

.form-checkbox:checked + .form-checkbox-label > .checkbox-empty {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
  border-color: var(--ocean);
}
.checkbox-empty {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button {
  min-width: 169px;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: var(--ocean);
}
